In [1]:
import pandas as pd
df_wo_ohe = pd.read_csv("data/ml_ready/ml_ready_13022025.csv") # without ohe
df_ohe = pd.read_csv("data/ml_ready_ohe/ml_ready_ohe_13022025.csv") # barrio one-hot-enconding

In [2]:
df_wo_ohe.head()

   antiquity  bedrooms  garages  bathrooms  rooms  total_area      price
0       50.0       2.0      0.0        1.0    1.0        60.0  1335750.0
1       60.0       2.0      0.0        1.0    1.0        58.0   350000.0
2       40.0       1.0      0.0        1.0    2.0        40.0   390000.0
3       15.0       1.0      0.0        1.0    2.0        37.0   873375.0
4       40.0       1.0      0.0        1.0    3.0        43.0   700000.0

In [3]:
df_ohe.head()

,antiquity,bedrooms,garages,bathrooms,rooms,total_area,price,neighborhood_Abasto,neighborhood_Agronomia,neighborhood_Agronomía,...,neighborhood_Villa Lugano,neighborhood_Villa Luro,neighborhood_Villa Ortuzar,neighborhood_Villa Pueyrredon,neighborhood_Villa Pueyrredón,neighborhood_Villa Real,neighborhood_Villa Riachuelo,neighborhood_Villa Santa Rita,neighborhood_Villa Urquiza,neighborhood_Villa del Parque
0,50.0,2.0,0.0,1.0,1.0,60.0,1335750.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,60.0,2.0,0.0,1.0,1.0,58.0,350000.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,40.0,1.0,0.0,1.0,2.0,40.0,390000.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,15.0,1.0,0.0,1.0,2.0,37.0,873375.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,40.0,1.0,0.0,1.0,3.0,43.0,700000.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
df_wo_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15209 entries, 0 to 15208
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   antiquity   15209 non-null  float64
 1   bedrooms    15209 non-null  float64
 2   garages     15209 non-null  float64
 3   bathrooms   15209 non-null  float64
 4   rooms       15209 non-null  float64
 5   total_area  15209 non-null  float64
 6   price       15209 non-null  float64
dtypes: float64(7)
memory usage: 831.9 KB

# Evaluar modelos con datos sin feature 'barrio' categorizada
categorizada -> one-hot-encoding (ohe)

In [4]:
# init setup
from pycaret.regression import *
clf1 = setup(data = df_wo_ohe, target = 'price')

# compare models
best_wo_ohe = compare_models()

In [5]:
# Crea el modelo usando create_model
best_model_wo_ohe = create_model(best_wo_ohe)

In [6]:
save_model(best_model_wo_ohe, 'models/model_wo_ohe_2024-12-03')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['antiquity', 'bedrooms', 'garages',
                                              'bathrooms', 'rooms',
                                              'total_area'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model', LGBMRegressor(n_jobs=-1, random_state=4723))]),
 'models/model_wo_ohe_2024-12-03.pkl')

# Evaluar modelos con datos CON el feature 'barrio' categorizada
categorizada -> one-hot-encoding (ohe)

In [6]:
# init setup
from pycaret.regression import *
clf1 = setup(data = df_ohe, target = 'price')

# compare models
best_ohe = compare_models()

In [7]:
# Crea el modelo usando create_model
best_model_ohe = create_model(best_ohe)

In [9]:
save_model(best_model_ohe, 'models/model_ohe_2024-12-03')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['antiquity', 'bedrooms', 'garages',
                                              'bathrooms', 'rooms',
                                              'total_area'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model', LGBMRegressor(n_jobs=-1, random_state=6820))]),
 'models/model_ohe_2024-12-03.pkl')